body,div,img,a,p,span,ul,li,h1,h2{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    background: #222120;
}
a{
    text-decoration: none;
}
::selection {
    background:#ff1d55; 
    color:#fff;
}
/*head start*/
.fx-head{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    background-color: #222120;
}
.fx-head .fx-box{
    width: 60%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.fx-head .fx-box .fx-head-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fx-head .fx-box .fx-head-left a img{
    width: 150px; 
    height: 150px;
    transition: .8s ease-in-out;
    overflow: hidden;

}
.fx-head .fx-box .fx-head-left a img:hover{
    transform: rotate(360deg);
}
.fx-head .fx-box .fx-head-right{
    color: #ff1d55;
    text-align: right;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.fx-head .fx-box .fx-head-right p{
    font-weight: 600;
}

@media screen and (min-width:320px) and (max-width:736px){
    .fx-head{
        height: 220px;
    }
    .fx-head .fx-box{
        flex-direction: column;
        align-items: center;
    }
    .fx-head .fx-box .fx-head-left img{
        width: 100px; 
        margin-top: 5px;
    }
    .fx-head .fx-box .fx-head-right{
        height: 90px;
        text-align: center;
        font-size: 10px;
        box-sizing: border-box;
        padding: 4px 0;
    }
    .fx-head .fx-box .fx-head-right h2{
        margin: 5px 0px;
    }
}
@media screen and (max-width:320px) {
    .fx-head .fx-box .fx-head-right{
        font-size: 8px;
        padding: 8px 0;
    }
}
/*head end*/

/*new xiaoxi start*/
.fx-update{
    width: 100%;
    height: 200px;
    color: #fff;
    margin: 5px 0;
}
.fx-update .fx-update-box{
    width: 60%;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #353636d0;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
}
.fx-update .fx-update-box .fx-update-tou{
    width: 100%;
    height: 40px;
    line-height: 55px;  
    text-indent: 20px;
}
.fx-update .fx-update-box .fx-update-con{
    width: 100%;
    height: 160px;
    box-sizing: border-box;
    padding: 20px;
}
.fx-update .fx-update-box .fx-update-con .xiaoxi{
    border: 1px solid #fff;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fx-update .fx-update-box .fx-update-con .xiaoxi p{
    line-height: 24px;
    text-align: center;
}
/*new xiaoxi end*/

/*分享主要内容代码开始*/
.fx-cons{
    width: 60%;
    height: auto;
    margin: 10px auto;
}
.fx-cons .fx-con{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    color: #fff;
    border-radius: 10px;
    background-color: #fff;
}
.fx-cons .fx-con .fx-con-tou{
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to left, #30cfd0 0%, #330867 100%);
    border-radius: 10px 10px 0px 0px;
    color: #222120;

}
.fx-cons .fx-con .fx-con-tou h2{
    text-indent: 20px;
}
.fx-cons .fx-con .fx-con-tou time{
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
}
.fx-cons .fx-con .con{
    height: 150px;
    text-align: center;
    color: #222120;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fx-cons .fx-con .con>div{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 35px;
    box-sizing: border-box;
    padding: 10px 30px;
    overflow: hidden;
}
.fx-cons .fx-con .con a{
    display: block;
    width: 150px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ff1d55;
    align-self: center;
    margin-bottom: 10px;
}
@media screen and (max-width:900px) {
    .fx-cons .fx-con .con>div{
        font-size: 14px;
    }
}
@media screen and (max-width:730px) {
    .fx-cons .fx-con .con>div{
        font-size: 14px;
        line-height: 22px;
    }
    .fx-update{
        width: 90%;
        margin: 0 auto;
    }
    .fx-update .fx-update-box{
        width: 100%;
    }
    .fx-cons{
        width: 90%;
    }
}
@media screen and (max-width:414px) {
    .fx-head .fx-box{
        width: 90%;
        height: 250px;
    }
    .fx-update{
        margin-top: 50px;
    }
    .fx-update .fx-update-box .fx-update-con .xiaoxi p{
        font-size: 12px;
        line-height: 14px;
    }
    .fx-cons .fx-con .fx-con-tou h2{
        font-size: 12px;
    }
    .fx-cons .fx-con .fx-con-tou time{
        font-size: 12px;
        margin-right: 5px;
    }
    .fx-cons .fx-con .con>div{
        font-size: 12px;
        line-height: 18px;
        height: 100px;
        padding: 10px 0;
    }
    .fx-cons .fx-con .con a{
        width: 100px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }
}
/*分享主要内容代码结束*/

/*footer start*/
.footer{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin-bottom: -50px;
}
.footer p{
    line-height: 26px;
}
/*footer end*/

.fx-cons .fx-con .color-1 {
    /*background-color: Chocolate;*/
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
.fx-cons .fx-con .color-2 {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.fx-cons .fx-con .color-3 {
    background-image: linear-gradient(to left, #30cfd0 0%, #330867 100%);
}
.fx-cons .fx-con .color-4 {
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}
.fx-cons .fx-con .color-5 {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.fx-cons .fx-con .color-6 {
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}
.fx-cons .fx-con .color-7 {
    background-image: linear-gradient(to left, #c471f5 0%, #fa71cd 100%);
}
.fx-cons .fx-con .color-8 {
    background-image: linear-gradient(to right, #0ba360 0%, #3cba92 100%);
}
.fx-cons .fx-con .color-9 {
    background-image: linear-gradient(to left, #0250c5 0%, #d43f8d 100%);
}