body,div,h1,h2,h3,p,a,span,ul,li,section{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #ff1d55;
}
ul{
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
}
html{
    font-size: 16px;
}
/*公共代码结束*/

/*head start*/
.head{
    width: 100%;
    height: auto;
    margin: 20px 0;
}
.head .head-box{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*head left start*/
.head .head-box .head-box-left{
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.head .head-box .head-box-left a img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}
.head .head-box .head-box-left a img:hover{
    transform: rotate(360deg);
}
.head .head-box .head-box-left .head-left-con{
    text-align: right;
    box-sizing: border-box;
    color: #ff1d55;
}
.head .head-box .head-box-left .head-left-con h1{
    font-size: 1.8rem;
    margin: 12px 0;
}
.head .head-box .head-box-left .head-left-con p{
    font-weight: 600;
}
/*head left end*/
/*head right start*/
.head .head-box .head-box-right{
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #ff1d55;
    text-align: center;
}
.head .head-box .head-box-right .head-right-fx,
.head .head-box .head-box-right .head-right-contact{
    width: 300px;
    height: 100px;
}
.head .head-box .head-box-right .head-right-fx ul,
.head .head-box .head-box-right .head-right-contact ul{
    height: 70px;
    box-sizing: border-box;
}
.head .head-box .head-box-right .head-right-fx h2,
.head .head-box .head-box-right .head-right-contact h2,{
    width: 300px;
    height: 30px;
    font-size: 1.1rem;
}
.head .head-box .head-box-right .head-right-fx ul li,
.head .head-box .head-box-right .head-right-contact ul li{
    width: 150px;
    height: 35px;
    box-sizing: border-box;
    text-align: center;
    line-height: 35px;
    float: left;
    position: relative;
    overflow: hidden;
} 
.head .head-box .head-box-right .head-right-fx ul li a,
.head .head-box .head-box-right .head-right-contact ul li a{
    color: #345;
    font-size: 14px;
    display: block;
    box-sizing: border-box;
    width: 150px;
    height: 35px;
    transition: all .3s ease-in-out;
}
.head .head-box .head-box-right .head-right-fx ul li::after,
.head .head-box .head-box-right .head-right-contact ul li::after{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2em;
    background-color: #ff1d55;
    left: 100%;
    bottom: 0px;
    transition: all .3s ease-in-out;
}
.head .head-box .head-box-right .head-right-fx ul li a:hover::after,
.head .head-box .head-box-right .head-right-contact ul li a:hover::after{
    left: 0;
}
.head .head-box .head-box-right .head-right-fx ul li a:hover,
.head .head-box .head-box-right .head-right-contact ul li a:hover{
    color: #ff1d55;
}
/*head right end*/
@media screen (max-width:1188px){
    .head .head-box{
        align-content: center;
    }
}
/*head end*/

/*new xiaoxi start*/
.fx-update{
    width: 100%;
    height: 200px;
    color: #353636d0;
    margin: 5px 0;
}
.fx-update .fx-update-box{
    width: 80%;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px solid #ff1d55; */
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
}
.fx-update .fx-update-box .fx-update-tou{
    width: 100%;
    height: 40px;
    line-height: 55px;  
    text-indent: 20px;
    font-weight: 600;
    font-size: 24px;
}
.fx-update .fx-update-box .fx-update-con{
    width: 100%;
    height: 160px;
    box-sizing: border-box;
    padding: 20px;
}
.fx-update .fx-update-box .fx-update-con .xiaoxi{
    /* border: 1px solid #ff1d55; */
    border-radius: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fx-update .fx-update-box .fx-update-con .xiaoxi p{
    line-height: 24px;
    text-align: center;
}
/*new xiaoxi end*/
/*content start*/
.nav-content{
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.nav-content .nav-content-box{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.nav-content .nav-content-box section{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.nav-content .nav-content-box section .nav-content-top{
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
    margin-bottom: 2px;
}
.nav-content .nav-content-box section .nav-content-top h2{
    text-align: center;
    text-indent: 10px;
    color: #ff1d55;
}
.nav-content .nav-content-box section .nav-content-top .nav-content-top-right a{
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: #ff1d55;
    text-align: center;
    line-height: 40px;
    color: #fff;
}
.nav-content .nav-content-box section ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav-content .nav-content-box section ul li{
    width: 12.5%;
    height: 35px;
    border: 1px solid #F6F5F4;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.nav-content .nav-content-box section ul li a{
    display: inline-block;
    width: 100%;
    min-width: 120px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #345;
    font-size: 14px;
    transition: 1s;
}
.nav-content .nav-content-box section ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2em;
    background-color: #ff1d55;
    left: 100%;
    bottom: 0px;
    transition: all .3s ease-in-out;
}
.nav-content .nav-content-box section ul li a.active::before{
    content: '';
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
    border-top: 5px solid #ff1d55;
    border-right: 5px solid #ff1d55;
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 1px;
}
.nav-content .nav-content-box section ul li a:hover::after{
    left: 0;
}
@media (max-width:1300px){
    .nav-content .nav-content-box section ul li{
        width: 16.66%;
    }
}
@media (max-width:1205px){
    .fx-update{
        margin-top: 110px;
    }
}
@media (max-width:1000px){
    .nav-content .nav-content-box section ul li{
        width: 20%;
    }
}
@media (max-width:900px){
    .nav-content .nav-content-box section ul li{
        width: 25%;
    }
}
@media (max-width:749px){
    .fx-update{
        margin-top: 202px;
    }
    .head .head-box{
        justify-content: center;
    }
    .head .head-box .head-box-right{
        justify-content: center;
    }
}
@media (max-width:600px){
    .nav-content .nav-content-box section ul li{
        width: 33.33%;
    }
}
@media (max-width:414px){     /*7 plus*/
    .nav-content .nav-content-box section ul li{
        width: 50%;
    }
    .nav-content .nav-content-box section .nav-content-top{
        height: 30px;
        line-height: 30px;
    }
    .nav-content .nav-content-box section .nav-content-top h2{
        font-size: 18px;
    }
    .nav-content .nav-content-box section .nav-content-top .nav-content-top-right a{
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
}
@media (max-width:414px){     /*7 plus*/
    .nav-content .nav-content-box section ul li{
        width: 50%;
    }
    .nav-content .nav-content-box section .nav-content-top{
        height: 30px;
        line-height: 30px;
    }
    .nav-content .nav-content-box section .nav-content-top h2{
        font-size: 18px;
    }
    .nav-content .nav-content-box section .nav-content-top .nav-content-top-right a{
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
    .fx-update .fx-update-box .fx-update-con .xiaoxi p{
        font-size: .9rem;
    }
    .head .head-box .head-box-right .head-right-fx ul li a::before,
    .head .head-box .head-box-right .head-right-contact ul li a::before{
        content: '';
        width: 0px;
        height: 0px;
        border: 8px solid transparent;
        border-top: 8px solid #ff1d55;
        border-right: 8px solid #ff1d55;
        display: inline-block;
        position: absolute;
        top: 1px;
        right: 1px;
    }
}
@media (max-width:375px){     /*7*/
    .nav-content .nav-content-box section .nav-content-top h2{
        font-size: 18px;
    }
    .nav-content .nav-content-box section .nav-content-top .nav-content-top-right a{
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        width: 70px;
    }
    .head .head-box .head-box-left .head-left-con p{
        font-weight: 600;
        font-size: 0.8rem;
    }
}
@media (max-width:320px){     /*5s*/
    .nav-content .nav-content-box section .nav-content-top{
        font-size: 0.8rem;
    }
    .nav-content .nav-content-box section .nav-content-top .nav-content-top-right a{
        width: 60px;
    }
}
/*content end*/

/* footer start */
footer {
    width: 100%;
    height: 180px;
}
footer .x-footer {
    width: 80%;
    height: 150px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .x-footer img {
    width: 150px;
    height: 150px;
}
footer .x-footer img:first-of-type{
    margin-right: 4px;
}
footer p {
    text-align: center;
    color: #647d89;
}
/* footer end */