body,div,h1,h2,h3,p,a,span,ul,li,section{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #96b81c;
}
ul{
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
html{
    font-size: 16px;
}
body{
    background-color: #f4f4f4;
}
::selection {
    background:#c0f10c; 
    color:rgb(3, 2, 2);
}
/*公共代码结束*/
.header{
    width: 100%;
    height: 150px;
    background-color: #ff1d55;
}
.header header{
    width: 80%;
    height: 150px;
    margin: 0 auto;
    color: #fff;
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: space-around;
}
@media (max-width: 760px){
    .header header{
        font-size: .8rem;
        text-align: center;
    }
}
.cons-box{
    width: 100%;
    height: auto;
}
.cons-box .cons{
    width: 80%;
    height: auto;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media (max-width: 1270px){
    .cons-box .cons{
        width: 98%;
    }
    .cons-box .cons .con .neirong{
        overflow: hidden;
    }
}

.cons-box .cons .con{
    width: 48%;
    height: 180px;
    margin: 10px;
    position: relative;
    transition: .6s ease-in-out;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}
@media (max-width: 1020px){
    .cons-box .cons .con{
        width: 46%;
        height: auto;
    }
}
.cons-box .cons .con:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    transform: translate(0,12px,0);
}
.cons-box .cons .con:hover .con-bottom{
    color: #fff;
    background-color: #ff1d55;
    transition: all .6s ease-in-out;
    border-radius: 0 0 10px 10px;
}
.cons-box .cons .con p{
    padding: 18px;
    text-indent: 2rem;
    font-weight: 600;
    text-align: center;
}
.cons-box .cons .con p.neirong{
    margin-bottom: 8px;
}
.cons-box .cons .con p.con-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: #ff1d55;
}
.cons-box .cons .con p a{
    color: #ff1d55;
    transition: .8s ease-in-out;
}
.cons-box .cons .con p a:hover{
    background-color: #ff1d55;
    color: #fff;
}
@media (max-width: 700px){
    .cons-box .cons .con{
        width: 98%;
        padding-bottom: 20px;
    }
}
.con .neirong a.hidden{
    color: #fff!important;
}
.con .neirong a.hidden:hover{
    background-color: #fff!important;
    color: #fff!important;
}